{
  "openapi": "3.0.0",
  "info": {
    "title": "Voice-Agent",
    "version": "1.0.0",
    "description": "Voice-Agent API"
  },
  "servers": [
    {
      "url": "https://voice-agents.cloudmatetechnologies.com"
    }
  ],
  "paths": {
    "/api/v1/agent": {
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "description": "Bearer token for authentication",
          "schema": {
            "type": "string",
            "default": "Bearer ",
            "example": "Bearer <token>"
          }
        }
      ],
      "post": {
        "summary": "Create agent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the agent was created successfully.",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "A message describing the result.",
                      "example": "Agent Created Successfully"
                    },
                    "data": {
                      "type": "object",
                      "description": "Agent details",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Unique identifier for the agent.",
                          "example": "agent_id_1234567890abcdef"
                        },
                        "agent_config": {
                          "type": "object",
                          "description": "Configuration details for the agent.",
                          "properties": {
                            "agent_name": {
                              "type": "string",
                              "description": "Human-readable agent name.",
                              "example": "New Agent"
                            },
                            "agent_type": {
                              "type": "string",
                              "description": "Type of agent.",
                              "example": "conversation"
                            },
                            "tasks": {
                              "type": "array",
                              "description": "List of tasks assigned to the agent.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "task_type": {
                                    "type": "string",
                                    "description": "Type of the task.",
                                    "example": "conversation"
                                  },
                                  "toolchain": {
                                    "type": "object",
                                    "description": "Toolchain configuration for the task.",
                                    "properties": {
                                      "execution": {
                                        "type": "string",
                                        "description": "Execution mode for the toolchain.",
                                        "example": "parallel"
                                      },
                                      "pipelines": {
                                        "type": "array",
                                        "description": "Pipelines for the toolchain.",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "example": [
                                            "transcriber",
                                            "llm",
                                            "synthesizer"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "tools_config": {
                                    "type": "object",
                                    "description": "Configuration for tools used in the task.",
                                    "properties": {
                                      "llm_agent": {
                                        "type": "object",
                                        "properties": {
                                          "agent_flow_type": {
                                            "type": "string",
                                            "example": "streaming"
                                          },
                                          "agent_type": { "type": "string", "example": "llm" },
                                          "llm_config": {
                                            "type": "object",
                                            "properties": {
                                              "model": { "type": "string", "example": "gpt-3.5-turbo" },
                                              "max_tokens": {
                                                "type": "integer",
                                                "example": 1000
                                              },
                                              "family": { "type": "string" },
                                              "temperature": {
                                                "type": "number"
                                              },
                                              "request_json": {
                                                "type": "boolean",
                                                "example": true
                                              },
                                              "top_k": { "type": "integer", "example": 10 },
                                              "top_p": { "type": "number", "example": 0.5 },
                                              "min_p": { "type": "number", "example": 0.5 },
                                              "frequency_penalty": {
                                                "type": "number",
                                                "example": 0.5
                                              },
                                              "presence_penalty": {
                                                "type": "number",
                                                "example": 0.5
                                              },
                                              "provider": { "type": "string", "example": "openai" },
                                              "context_data": {
                                                "type": "object",
                                                "example": {
                                                  "type": "object",
                                                  "properties": {
                                                    "type": "string"
                                                  }
                                                }
                                              },
                                              "agent_information": {
                                                "type": "string",
                                                "example": "Agent information"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "synthesizer": {
                                        "type": "object",
                                        "properties": {
                                          "provider": { "type": "string" },
                                          "provider_config": {
                                            "type": "object",
                                            "properties": {
                                              "voice": { "type": "string", "example": "eleven_labs" },
                                              "model": { "type": "string", "example": "eleven_turbo_v2" }
                                            }
                                          },
                                          "stream": { "type": "boolean", "example": true },
                                          "buffer_size": { "type": "integer", "example": 1024 },
                                          "audio_format": { "type": "string", "example": "mp3" },
                                          "caching": { "type": "boolean", "example": true }
                                        }
                                      },
                                      "transcriber": {
                                        "type": "object",
                                        "properties": {
                                          "model": { "type": "string", "example": "whisper" },
                                          "language": { "type": "string", "example": "en" },
                                          "stream": { "type": "boolean", "example": true },
                                          "sampling_rate": {
                                            "type": "integer",
                                            "example": 16000
                                          },
                                          "encoding": { "type": "string", "example": "pcm" },
                                          "endpointing": { "type": "integer", "example": 1000 },
                                          "keywords": { "type": "string", "example": "hello, world" },
                                          "task": { "type": "string", "example": "transcribe" },
                                          "provider": { "type": "string", "example": "openai" }
                                        }
                                      },
                                      "input": {
                                        "type": "object",
                                        "properties": {
                                          "provider": { "type": "string" },
                                          "format": { "type": "string" }
                                        }
                                      },
                                      "output": {
                                        "type": "object",
                                        "properties": {
                                          "provider": { "type": "string" },
                                          "format": { "type": "string" }
                                        }
                                      },
                                      "api_tools": {
                                        "type": "object",
                                        "description": "API tools to use."
                                      }
                                    }
                                  },
                                  "task_config": {
                                    "type": "object",
                                    "description": "Configuration for the task.",
                                    "properties": {
                                      "voicemail": { "type": "boolean" },
                                      "optimize_latency": { "type": "boolean" },
                                      "hangup_after_silence": {
                                        "type": "integer"
                                      },
                                      "incremental_delay": {
                                        "type": "integer"
                                      },
                                      "number_of_words_for_interruption": {
                                        "type": "integer"
                                      },
                                      "interruption_backoff_period": {
                                        "type": "integer"
                                      },
                                      "hangup_after_LLMCall": {
                                        "type": "boolean"
                                      },
                                      "call_cancellation_prompt": {
                                        "type": "string"
                                      },
                                      "call_hangup_message": {
                                        "type": "string"
                                      },
                                      "backchanneling": { "type": "boolean" },
                                      "backchanneling_message_gap": {
                                        "type": "integer"
                                      },
                                      "backchanneling_start_delay": {
                                        "type": "integer"
                                      },
                                      "ambient_noise": { "type": "boolean" },
                                      "ambient_noise_track": {
                                        "type": "string"
                                      },
                                      "call_terminate": { "type": "integer" },
                                      "use_fillers": { "type": "boolean" },
                                      "trigger_user_online_message_after": {
                                        "type": "integer"
                                      },
                                      "check_user_online_message": {
                                        "type": "string"
                                      },
                                      "check_if_user_online": {
                                        "type": "boolean"
                                      },
                                      "generate_precise_transcript": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "agent_welcome_message": {
                              "type": "string",
                              "description": "Welcome message for the agent.",
                              "example": "Hello, This is survey call from bank of india"
                            }
                          }
                        },
                        "agent_prompts": {
                          "type": "object",
                          "description": "Prompts used by the agent.",
                          "properties": {
                            "task_1": {
                              "type": "object",
                              "properties": {
                                "system_prompt": {
                                  "type": "string",
                                  "description": "System prompt for the agent.",
                                  "example": "Your name is Lily Jay, a friendly survey agent at Bank of India..."
                                }
                              }
                            }
                          }
                        },
                        "assistant_status": {
                          "type": "string",
                          "description": "Current status of the agent.",
                          "example": "seeding"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "Organization ID.",
                          "example": "org_id_1234567890abcdef"
                        },
                        "agent_id": {
                          "type": "string",
                          "description": "Agent ID.",
                          "example": "a3f8d4b2-7e19-4c3a-95de-1a6fcb9b4d70"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "loc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "type": "string"
                          },
                          "input": {
                            "nullable": true
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": ["body"],
                      "msg": "Field required",
                      "input": null,
                      "url": "https://errors.pydantic.dev/2.5/v/missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_prompts": {
                    "type": "object",
                    "description": "Prompts and instructions for the agent's behavior.",
                    "properties": {
                      "task_1": {
                        "type": "object",
                        "description": "Configuration for the primary task.",
                        "properties": {
                          "system_prompt": {
                            "type": "string",
                            "format": "style",
                            "description": "System-level instructions that define the agent's role, behavior, and capabilities.",
                            "example": "Your name is Lily Jay, a friendly survey agent at Bank of India. You will keep your sentences short, easy to follow, and always stay on topic. Never reply with more than 2 sentences. Your role is to gather feedback from customers who have used Business Loans, record their NPS score (0–10), and understand their experience."
                          }
                        }
                      }
                    }
                  },
                  "agent_config": {
                    "type": "object",
                    "description": "Configuration details for the agent.",
                    "properties": {
                      "agent_welcome_message": {
                        "type": "string",
                        "description": "Initial greeting message played when the call starts.",
                        "example": "Hello, This is survey call from bank of india"
                      },
                      "agent_name": {
                        "type": "string",
                        "description": "Human-readable name for the agent.",
                        "example": "Bank Survey Agent"
                      },
                      "agent_type": {
                        "type": "string",
                        "description": "Type of agent (e.g., conversation, survey, etc.).",
                        "example": "conversation"
                      },
                      "tasks": {
                        "type": "array",
                        "description": "List of tasks that the agent can perform.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tools_config": {
                              "type": "object",
                              "description": "Configuration for various tools used by the agent.",
                              "properties": {
                                "llm_agent": {
                                  "type": "object",
                                  "description": "Configuration for the LLM agent component.",
                                  "properties": {
                                    "agent_flow_type": {
                                      "type": "string",
                                      "description": "Type of agent flow (e.g., streaming, batch).",
                                      "example": "streaming"
                                    },
                                    "agent_type": {
                                      "type": "string",
                                      "description": "Type of LLM agent implementation.",
                                      "example": "simple_llm_agent"
                                    },
                                    "llm_config": {
                                      "type": "object",
                                      "description": "Configuration for the language model.",
                                      "properties": {
                                        "model": {
                                          "type": "string",
                                          "description": "Name of the language model to use.",
                                          "example": "gpt-3.5-turbo"
                                        },
                                        "max_tokens": {
                                          "type": "integer",
                                          "description": "Maximum number of tokens to generate.",
                                          "example": 150
                                        },
                                        "family": {
                                          "type": "string",
                                          "description": "Model family or provider.",
                                          "example": "openai"
                                        },
                                        "temperature": {
                                          "type": "number",
                                          "description": "Sampling temperature for generation.",
                                          "example": 0.2
                                        },
                                        "request_json": {
                                          "type": "boolean",
                                          "description": "Whether to request JSON formatted responses.",
                                          "example": false
                                        },
                                        "top_k": {
                                          "type": "integer",
                                          "description": "Number of highest probability tokens to keep.",
                                          "example": 0
                                        },
                                        "top_p": {
                                          "type": "number",
                                          "description": "Nucleus sampling parameter.",
                                          "example": 0.9
                                        },
                                        "min_p": {
                                          "type": "number",
                                          "description": "Minimum probability threshold.",
                                          "example": 0.1
                                        },
                                        "frequency_penalty": {
                                          "type": "number",
                                          "description": "Penalty for token frequency.",
                                          "example": 0.0
                                        },
                                        "presence_penalty": {
                                          "type": "number",
                                          "description": "Penalty for token presence.",
                                          "example": 0.0
                                        },
                                        "provider": {
                                          "type": "string",
                                          "description": "LLM provider name.",
                                          "example": "openai"
                                        },
                                        "context_data": {
                                          "type": "object",
                                          "description": "Additional context data for the model.",
                                          "example": null
                                        },
                                        "agent_information": {
                                          "type": "string",
                                          "description": "Additional information about the agent.",
                                          "example": null
                                        }
                                      }
                                    }
                                  }
                                },
                                "synthesizer": {
                                  "type": "object",
                                  "description": "Configuration for text-to-speech synthesis.",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "description": "TTS provider name.",
                                      "example": "deepgram"
                                    },
                                    "provider_config": {
                                      "type": "object",
                                      "description": "Provider-specific configuration.",
                                      "properties": {
                                        "voice": {
                                          "type": "string",
                                          "description": "Voice ID or name to use.",
                                          "example": "Asteria"
                                        },
                                        "model": {
                                          "type": "string",
                                          "description": "TTS model to use.",
                                          "example": "aura-asteria-en"
                                        }
                                      }
                                    },
                                    "stream": {
                                      "type": "boolean",
                                      "description": "Whether to stream the audio output.",
                                      "example": true
                                    },
                                    "buffer_size": {
                                      "type": "integer",
                                      "description": "Size of audio buffer in milliseconds.",
                                      "example": 150
                                    },
                                    "audio_format": {
                                      "type": "string",
                                      "description": "Format of the audio output.",
                                      "example": "wav"
                                    },
                                    "caching": {
                                      "type": "boolean",
                                      "description": "Whether to cache generated audio.",
                                      "example": true
                                    }
                                  }
                                },
                                "transcriber": {
                                  "type": "object",
                                  "description": "Configuration for speech-to-text transcription.",
                                  "properties": {
                                    "model": {
                                      "type": "string",
                                      "description": "Transcription model to use.",
                                      "example": "nova-2"
                                    },
                                    "language": {
                                      "type": "string",
                                      "description": "Language code for transcription.",
                                      "example": "en"
                                    },
                                    "stream": {
                                      "type": "boolean",
                                      "description": "Whether to stream the transcription.",
                                      "example": true
                                    },
                                    "sampling_rate": {
                                      "type": "integer",
                                      "description": "Audio sampling rate in Hz.",
                                      "example": 16000
                                    },
                                    "encoding": {
                                      "type": "string",
                                      "description": "Audio encoding format.",
                                      "example": "linear16"
                                    },
                                    "endpointing": {
                                      "type": "integer",
                                      "description": "Endpoint detection threshold in milliseconds.",
                                      "example": 700
                                    },
                                    "keywords": {
                                      "type": "string",
                                      "description": "Keywords to boost in transcription.",
                                      "example": ""
                                    },
                                    "task": {
                                      "type": "string",
                                      "description": "Transcription task type.",
                                      "example": "transcribe"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "Transcription provider name.",
                                      "example": "deepgram"
                                    }
                                  }
                                },
                                "input": {
                                  "type": "object",
                                  "description": "Configuration for audio input handling.",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "description": "Input provider name.",
                                      "example": "twilio"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Input audio format.",
                                      "example": "wav"
                                    }
                                  }
                                },
                                "output": {
                                  "type": "object",
                                  "description": "Configuration for audio output handling.",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "description": "Output provider name.",
                                      "example": "twilio"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Output audio format.",
                                      "example": "wav"
                                    }
                                  }
                                },
                                "api_tools": {
                                  "type": "object",
                                  "description": "API tools to use."
                                }
                              }
                            },
                            "task_config": {
                              "type": "object",
                              "description": "Configuration for task-specific behavior.",
                              "properties": {
                                "voicemail": {
                                  "type": "boolean",
                                  "description": "Whether to handle voicemail detection.",
                                  "example": false
                                },
                                "optimize_latency": {
                                  "type": "boolean",
                                  "description": "Whether to optimize for low latency.",
                                  "example": true
                                },
                                "hangup_after_silence": {
                                  "type": "integer",
                                  "description": "Seconds of silence before hanging up.",
                                  "example": 10
                                },
                                "incremental_delay": {
                                  "type": "integer",
                                  "description": "Delay between responses in milliseconds.",
                                  "example": 1200
                                },
                                "number_of_words_for_interruption": {
                                  "type": "integer",
                                  "description": "Number of words before allowing interruption.",
                                  "example": 2
                                },
                                "interruption_backoff_period": {
                                  "type": "integer",
                                  "description": "Delay before allowing interruption in milliseconds.",
                                  "example": 0
                                },
                                "hangup_after_LLMCall": {
                                  "type": "boolean",
                                  "description": "Whether to hang up after LLM response.",
                                  "example": false
                                },
                                "call_cancellation_prompt": {
                                  "type": "string",
                                  "description": "Message to play when call is cancelled.",
                                  "example": ""
                                },
                                "call_hangup_message": {
                                  "nullable": true,
                                  "type": "string",
                                  "description": "Message to play before hanging up.",
                                  "example": null
                                },
                                "backchanneling": {
                                  "type": "boolean",
                                  "description": "Whether to use backchanneling.",
                                  "example": false
                                },
                                "backchanneling_message_gap": {
                                  "type": "integer",
                                  "description": "Gap between backchanneling messages in seconds.",
                                  "example": 5
                                },
                                "backchanneling_start_delay": {
                                  "type": "integer",
                                  "description": "Delay before starting backchanneling in seconds.",
                                  "example": 5
                                },
                                "ambient_noise": {
                                  "type": "boolean",
                                  "description": "Whether to add ambient noise.",
                                  "example": false
                                },
                                "ambient_noise_track": {
                                  "type": "string",
                                  "description": "Ambient noise track to use.",
                                  "example": "office-ambience"
                                },
                                "call_terminate": {
                                  "type": "integer",
                                  "description": "Maximum call duration in seconds.",
                                  "example": 300
                                },
                                "use_fillers": {
                                  "type": "boolean",
                                  "description": "Whether to use filler words.",
                                  "example": false
                                },
                                "trigger_user_online_message_after": {
                                  "type": "integer",
                                  "description": "Seconds before checking if user is online.",
                                  "example": 6
                                },
                                "check_user_online_message": {
                                  "type": "string",
                                  "description": "Message to play when checking if user is online.",
                                  "example": "Hey, are you still there"
                                },
                                "check_if_user_online": {
                                  "type": "boolean",
                                  "description": "Whether to check if user is online.",
                                  "example": true
                                },
                                "generate_precise_transcript": {
                                  "type": "boolean",
                                  "description": "Whether to generate detailed transcript.",
                                  "example": false
                                }
                              }
                            },
                            "task_type": {
                              "type": "string",
                              "description": "Type of task to perform.",
                              "example": "conversation"
                            },
                            "toolchain": {
                              "type": "object",
                              "description": "Configuration for tool execution chain.",
                              "properties": {
                                "execution": {
                                  "type": "string",
                                  "description": "Execution mode for tools.",
                                  "example": "parallel"
                                },
                                "pipelines": {
                                  "type": "array",
                                  "description": "Ordered list of tool pipelines.",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "example": [
                                    ["transcriber", "llm", "synthesizer"]
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent/{agent_id}": {
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "description": "Bearer token for authentication",
          "schema": {
            "type": "string",
            "default": "Bearer ",
            "example": "Bearer <token>"
          }
        },
        {
          "name": "agent_id",
          "in": "path",
          "required": true,
          "description": "ID of the agent to retrieve",
          "schema": {
            "type": "string",
            "example": "c3f1a2d4-7e99-4b84-9832-a1e6c8efb5c0"
          }
        }
      ],
      "get": {
        "summary": "Get agent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Agent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the agent was retrieved successfully.",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "A message describing the result.",
                      "example": "Agent fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "description": "Agent details",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Unique identifier for the agent.",
                          "example": "agent_id_1234567890abcdef"
                        },
                        "agent_config": {
                          "type": "object",
                          "description": "Configuration details for the agent.",
                          "properties": {
                            "agent_name": {
                              "type": "string",
                              "description": "Human-readable agent name.",
                              "example": "New Agent"
                            },
                            "agent_type": {
                              "type": "string",
                              "description": "Type of agent.",
                              "example": "conversation"
                            },
                            "tasks": {
                              "type": "array",
                              "description": "List of tasks assigned to the agent.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "task_type": {
                                    "type": "string",
                                    "description": "Type of the task.",
                                    "example": "conversation"
                                  },
                                  "toolchain": {
                                    "type": "object",
                                    "description": "Toolchain configuration for the task.",
                                    "properties": {
                                      "execution": {
                                        "type": "string",
                                        "description": "Execution mode for the toolchain.",
                                        "example": "parallel"
                                      },
                                      "pipelines": {
                                        "type": "array",
                                        "description": "Pipelines for the toolchain.",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "example": [
                                            "transcriber",
                                            "llm",
                                            "synthesizer"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "tools_config": {
                                    "type": "object",
                                    "description": "Configuration for tools used in the task.",
                                    "properties": {
                                      "llm_agent": {
                                        "type": "object",
                                        "properties": {
                                          "agent_flow_type": {
                                            "type": "string",
                                            "example":"streaming"
                                          },
                                          "agent_type": { "type": "string", "example": "llm" },
                                          "llm_config": {
                                            "type": "object",
                                            "properties": {
                                              "model": { "type": "string", "example": "gpt-3.5-turbo" },
                                              "max_tokens": {
                                                "type": "integer",
                                                "example": 1000
                                              },
                                              "family": { "type": "string", "example": "gpt-3.5-turbo" },
                                              "temperature": {
                                                "type": "number",
                                                "example": 0.5
                                              },
                                              "request_json": {
                                                "type": "boolean",
                                                "example": true
                                              },
                                              "stop": { "nullable": true, "example": null },
                                              "top_k": { "type": "integer", "example": 10 },
                                              "top_p": { "type": "number", "example": 0.5 },
                                              "min_p": { "type": "number", "example": 0.5 },  
                                              "frequency_penalty": {
                                                "type": "number",
                                                "example": 0.5
                                              },
                                              "presence_penalty": {
                                                "type": "number",
                                                "example": 0.5
                                              },
                                              "provider": { "type": "string", "example": "openai" },
                                              "base_url": { "type": "string", "example": "https://api.openai.com/v1" },
                                              "agent_flow_type": {
                                                "type": "string",
                                                "example": "llm"
                                              },
                                              "routes": { "type": "array", "example": ["llm"] },
                                              "extraction_details": {
                                                "type": "string",
                                                "example":null
                                             
                                              },
                                              "summary_details": {
                                                "type": "object",
                                                "example": null
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "synthesizer": {
                                        "type": "object",
                                        "properties": {
                                          "provider": { "type": "string", "example": "elevenlabs" },
                                          "provider_config": {
                                            "type": "object",
                                            "properties": {
                                              "voice": { "type": "string", "example": "eleven_labs" },
                                              "model": { "type": "string", "example": "eleven_turbo_v2" }
                                            }
                                          },
                                          "stream": { "type": "boolean", "example": true },
                                          "buffer_size": { "type": "integer", "example": 1024 },
                                          "audio_format": { "type": "string", "example": "mp3" },
                                          "caching": { "type": "boolean", "example": true }
                                        }
                                      },
                                      "transcriber": {
                                        "type": "object",
                                        "properties": {
                                          "model": { "type": "string", "example": "whisper" },
                                          "language": { "type": "string", "example": "en" },
                                          "stream": { "type": "boolean", "example": true },
                                          "sampling_rate": {
                                            "type": "integer",
                                            "example": 16000
                                          },
                                          "encoding": { "type": "string", "example": "pcm" },
                                          "endpointing": { "type": "integer", "example": 1000 },
                                          "keywords": { "type": "string", "example": "hello, world" },
                                          "task": { "type": "string", "example": "transcribe" },
                                          "provider": { "type": "string", "example": "openai" }
                                        }
                                      },
                                      "input": {
                                        "type": "object",
                                        "properties": {
                                          "provider": { "type": "string", "example": "openai" },
                                          "format": { "type": "string", "example": "mp3" }
                                        }
                                      },
                                      "output": {
                                        "type": "object",
                                        "properties": {
                                          "provider": { "type": "string", "example": "openai" },
                                          "format": { "type": "string", "example": "mp3" }
                                        }
                                      },
                                      "api_tools": {
                                        "type": "object",
                                        "properties": {
                                          "tools": { "type": "array", "example": ["transcriber", "llm", "synthesizer"] },
                                          "tool_params": { "type": "object", "example": {
                                            "type": "object",
                                            "properties": {
                                              "type": "string"
                                            }
                                          } }
                                        }
                                      }
                                    }
                                  },
                                  "task_config": {
                                    "type": "object",
                                    "description": "Configuration for the task.",
                                    "properties": {
                                      "voicemail": { "type": "boolean", "example": true },
                                      "optimize_latency": { "type": "boolean", "example": true },
                                      "hangup_after_silence": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "incremental_delay": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "number_of_words_for_interruption": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "interruption_backoff_period": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "hangup_after_LLMCall": {
                                        "type": "boolean",
                                        "example": true
                                      },
                                      "call_cancellation_prompt": {
                                        "type": "string",
                                        "example": "You are a helpful assistant. Please help the user with their query."
                                      },
                                      "call_hangup_message": {
                                        "nullable": true,
                                        "type": "string",
                                        "example": "Thank you for calling. Goodbye!"
                                      },
                                      "backchanneling": { "type": "boolean", "example": true },
                                      "backchanneling_message_gap": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "backchanneling_start_delay": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "ambient_noise": { "type": "boolean", "example": true },
                                      "ambient_noise_track": {
                                        "type": "string",
                                        "example": "ambient_noise_track"
                                      },
                                      "call_terminate": { "type": "integer", "example": 1000 },
                                      "use_fillers": { "type": "boolean", "example": true },
                                      "trigger_user_online_message_after": {
                                        "type": "integer",
                                        "example": 1000
                                      },
                                      "check_user_online_message": {
                                        "type": "string",
                                        "example": "You are a helpful assistant. Please help the user with their query."
                                      },
                                      "check_if_user_online": {
                                        "type": "boolean",
                                        "example": true
                                      },
                                      "generate_precise_transcript": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "agent_welcome_message": {
                              "type": "string",
                              "description": "Welcome message for the agent.",
                              "example": "Hello, This is survey call from bank of india"
                            }
                          }
                        },
                        "agent_prompts": {
                          "type": "object",
                          "description": "Prompts used by the agent.",
                          "properties": {
                            "task_1": {
                              "type": "object",
                              "properties": {
                                "system_prompt": {
                                  "type": "string",
                                  "description": "System prompt for the agent.",
                                  "example": "Your name is Lily Jay, a friendly survey agent at Bank of India. ..."
                                }
                              }
                            }
                          }
                        },
                        "assistant_status": {
                          "type": "string",
                          "description": "Current status of the agent.",
                          "example": "seeding"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "Organization ID.",
                          "example": "org_1234567890abcdef"
                        },
                        "agent_id": {
                          "type": "string",
                          "description": "Agent ID.",
                          "example": "a3f8d4b2-7e19-4c3a-95de-1a6fcb9b4d70"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "Created at",
                          "example": "2023-01-01T00:00:00.000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Updated at",
                          "example": "2023-01-01T00:00:00.000Z"
                        },
                        "created_by": {
                          "type": "string",
                          "description": "Created by",
                          "example": "user_id_1234567890abcdef"
                        },
                        "updated_by": {
                          "type": "string",
                          "description": "Updated by",
                          "example": "user_id_1234567890abcdef"
                        },
                        "webhook_url": {
                          "type": "string",
                          "description": "Webhook URL",
                          "example": "https://example.com/webhook"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Method Not Allowed"
                    }
                  }
                },
                "example": {
                  "detail": "Method Not Allowed"
                }
              }
            }
          },
          "404":{
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Agent not found"
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update agent",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_config": {
                    "type": "object",
                    "description": "Configuration details for the agent.",
                    "properties": {
                      "agent_name": {
                        "type": "string",
                        "description": "Human-readable name for the agent.",
                        "example": "Updated Bank Survey Agent"
                      },
                      "agent_type": {
                        "type": "string",
                        "description": "Type of agent (e.g., conversation, survey, etc.).",
                        "example": "conversation"
                      },
                      "tasks": {
                        "type": "array",
                        "description": "List of tasks that the agent can perform.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tools_config": {
                              "type": "object",
                              "description": "Configuration for various tools used by the agent.",
                              "properties": {
                                "llm_agent": {
                                  "type": "object",
                                  "description": "Configuration for the LLM agent component.",
                                  "properties": {
                                    "agent_flow_type": {
                                      "type": "string",
                                      "description": "Type of agent flow (e.g., streaming, batch).",
                                      "example": "streaming"
                                    },
                                    "agent_type": {
                                      "type": "string",
                                      "description": "Type of LLM agent implementation.",
                                      "example": "simple_llm_agent"
                                    },
                                    "routes": {
                                      "nullable": true,
                                      "description": "Routing configuration for the agent.",
                                      "example": null
                                    },
                                    "llm_config": {
                                      "type": "object",
                                      "description": "Configuration for the language model.",
                                      "properties": {
                                        "model": {
                                          "type": "string",
                                          "description": "Name of the language model to use.",
                                          "example": "gpt-3.5-turbo"
                                        },
                                        "max_tokens": {
                                          "type": "integer",
                                          "description": "Maximum number of tokens to generate.",
                                          "example": 150
                                        },
                                        "family": {
                                          "type": "string",
                                          "description": "Model family or provider.",
                                          "example": "openai"
                                        },
                                        "temperature": {
                                          "type": "number",
                                          "description": "Sampling temperature for generation.",
                                          "example": 0.2
                                        },
                                        "request_json": {
                                          "type": "boolean",
                                          "description": "Whether to request JSON formatted responses.",
                                          "example": false
                                        },
                                        "stop": {
                                          "nullable": true,
                                          "description": "Stop sequences for generation.",
                                          "example": null
                                        },
                                        "top_k": {
                                          "type": "integer",
                                          "description": "Top-k sampling parameter.",
                                          "example": 0
                                        },
                                        "top_p": {
                                          "type": "number",
                                          "description": "Top-p sampling parameter.",
                                          "example": 0.9
                                        },
                                        "min_p": {
                                          "type": "number",
                                          "description": "Minimum probability threshold.",
                                          "example": 0.1
                                        },
                                        "frequency_penalty": {
                                          "type": "number",
                                          "description": "Penalty for token frequency.",
                                          "example": 0.0
                                        },
                                        "presence_penalty": {
                                          "type": "number",
                                          "description": "Penalty for token presence.",
                                          "example": 0.0
                                        },
                                        "provider": {
                                          "type": "string",
                                          "description": "LLM provider name.",
                                          "example": "openai"
                                        },
                                        "base_url": {
                                          "nullable": true,
                                          "description": "Base URL for API calls.",
                                          "example": null
                                        },
                                        "routes": {
                                          "nullable": true,
                                          "description": "API routing configuration.",
                                          "example": null
                                        },
                                        "agent_flow_type": {
                                          "type": "string",
                                          "description": "Type of agent flow for this configuration.",
                                          "example": "streaming"
                                        },
                                        "extraction_details": {
                                          "nullable": true,
                                          "description": "Configuration for information extraction.",
                                          "example": null
                                        },
                                        "summarization_details": {
                                          "nullable": true,
                                          "description": "Configuration for text summarization.",
                                          "example": null
                                        }
                                      }
                                    }
                                  }
                                },
                                "synthesizer": {
                                  "type": "object",
                                  "description": "Configuration for text-to-speech synthesis.",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "description": "TTS provider name.",
                                      "example": "deepgram"
                                    },
                                    "provider_config": {
                                      "type": "object",
                                      "description": "Provider-specific configuration.",
                                      "properties": {
                                        "voice": {
                                          "type": "string",
                                          "description": "Voice ID or name to use.",
                                          "example": "Asteria"
                                        },
                                        "model": {
                                          "type": "string",
                                          "description": "TTS model to use.",
                                          "example": "aura-asteria-en"
                                        }
                                      }
                                    },
                                    "stream": {
                                      "type": "boolean",
                                      "description": "Whether to stream the audio output.",
                                      "example": true
                                    },
                                    "buffer_size": {
                                      "type": "integer",
                                      "description": "Size of audio buffer in milliseconds.",
                                      "example": 150
                                    },
                                    "audio_format": {
                                      "type": "string",
                                      "description": "Format of the audio output.",
                                      "example": "wav"
                                    },
                                    "caching": {
                                      "type": "boolean",
                                      "description": "Whether to cache generated audio.",
                                      "example": true
                                    }
                                  }
                                },
                                "transcriber": {
                                  "type": "object",
                                  "description": "Configuration for speech-to-text transcription.",
                                  "properties": {
                                    "model": {
                                      "type": "string",
                                      "description": "Transcription model to use.",
                                      "example": "nova-2"
                                    },
                                    "language": {
                                      "type": "string",
                                      "description": "Language code for transcription.",
                                      "example": "en"
                                    },
                                    "stream": {
                                      "type": "boolean",
                                      "description": "Whether to stream the transcription.",
                                      "example": true
                                    },
                                    "sampling_rate": {
                                      "type": "integer",
                                      "description": "Audio sampling rate in Hz.",
                                      "example": 16000
                                    },
                                    "encoding": {
                                      "type": "string",
                                      "description": "Audio encoding format.",
                                      "example": "linear16"
                                    },
                                    "endpointing": {
                                      "type": "integer",
                                      "description": "Endpoint detection threshold in milliseconds.",
                                      "example": 700
                                    },
                                    "keywords": {
                                      "type": "string",
                                      "description": "Keywords to boost in transcription.",
                                      "example": ""
                                    },
                                    "task": {
                                      "type": "string",
                                      "description": "Transcription task type.",
                                      "example": "transcribe"
                                    },
                                    "provider": {
                                      "type": "string",
                                      "description": "Transcription provider name.",
                                      "example": "deepgram"
                                    }
                                  }
                                },
                                "input": {
                                  "type": "object",
                                  "description": "Configuration for audio input handling.",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "description": "Input provider name.",
                                      "example": "twilio"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Input audio format.",
                                      "example": "wav"
                                    }
                                  }
                                },
                                "output": {
                                  "type": "object",
                                  "description": "Configuration for audio output handling.",
                                  "properties": {
                                    "provider": {
                                      "type": "string",
                                      "description": "Output provider name.",
                                      "example": "twilio"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Output audio format.",
                                      "example": "wav"
                                    }
                                  }
                                },
                                "api_tools": {
                                  "type": "object",
                                  "description": "API tools to use.",
                                  "properties": {
                                    "tools": { "type": "array" },
                                    "tool_params": { "type": "object" }
                                  }
                                }
                              }
                            },
                            "task_config": {
                              "type": "object",
                              "description": "Configuration for task-specific behavior.",
                              "properties": {
                                "voicemail": {
                                  "type": "boolean",
                                  "description": "Whether to handle voicemail detection.",
                                  "example": false
                                },
                                "optimize_latency": {
                                  "type": "boolean",
                                  "description": "Whether to optimize for low latency.",
                                  "example": true
                                },
                                "hangup_after_silence": {
                                  "type": "integer",
                                  "description": "Seconds of silence before hanging up.",
                                  "example": 10
                                },
                                "incremental_delay": {
                                  "type": "integer",
                                  "description": "Delay between responses in milliseconds.",
                                  "example": 1200
                                },
                                "number_of_words_for_interruption": {
                                  "type": "integer",
                                  "description": "Number of words before allowing interruption.",
                                  "example": 2
                                },
                                "interruption_backoff_period": {
                                  "type": "integer",
                                  "description": "Delay before allowing interruption in milliseconds.",
                                  "example": 0
                                },
                                "hangup_after_LLMCall": {
                                  "type": "boolean",
                                  "description": "Whether to hang up after LLM response.",
                                  "example": false
                                },
                                "call_cancellation_prompt": {
                                  "type": "string",
                                  "description": "Message to play when call is cancelled.",
                                  "example": ""
                                },
                                "call_hangup_message": {
                                  "nullable": true,
                                  "type": "string",
                                  "description": "Message to play before hanging up.",
                                  "example": null
                                },
                                "backchanneling": {
                                  "type": "boolean",
                                  "description": "Whether to use backchanneling.",
                                  "example": false
                                },
                                "backchanneling_message_gap": {
                                  "type": "integer",
                                  "description": "Gap between backchanneling messages in seconds.",
                                  "example": 5
                                },
                                "backchanneling_start_delay": {
                                  "type": "integer",
                                  "description": "Delay before starting backchanneling in seconds.",
                                  "example": 5
                                },
                                "ambient_noise": {
                                  "type": "boolean",
                                  "description": "Whether to add ambient noise.",
                                  "example": false
                                },
                                "ambient_noise_track": {
                                  "type": "string",
                                  "description": "Ambient noise track to use.",
                                  "example": "office-ambience"
                                },
                                "call_terminate": {
                                  "type": "integer",
                                  "description": "Maximum call duration in seconds.",
                                  "example": 300
                                },
                                "use_fillers": {
                                  "type": "boolean",
                                  "description": "Whether to use filler words.",
                                  "example": false
                                },
                                "trigger_user_online_message_after": {
                                  "type": "integer",
                                  "description": "Seconds before checking if user is online.",
                                  "example": 6
                                },
                                "check_user_online_message": {
                                  "type": "string",
                                  "description": "Message to play when checking if user is online.",
                                  "example": "Hey, are you still there"
                                },
                                "check_if_user_online": {
                                  "type": "boolean",
                                  "description": "Whether to check if user is online.",
                                  "example": true
                                },
                                "generate_precise_transcript": {
                                  "type": "boolean",
                                  "description": "Whether to generate detailed transcript.",
                                  "example": false
                                }
                              }
                            },
                            "task_type": {
                              "type": "string",
                              "description": "Type of task to perform.",
                              "example": "conversation"
                            },
                            "toolchain": {
                              "type": "object",
                              "description": "Configuration for tool execution chain.",
                              "properties": {
                                "execution": {
                                  "type": "string",
                                  "description": "Execution mode for tools.",
                                  "example": "parallel"
                                },
                                "pipelines": {
                                  "type": "array",
                                  "description": "Ordered list of tool pipelines.",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "example": [
                                    ["transcriber", "llm", "synthesizer"]
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      "agent_welcome_message": {
                        "type": "string",
                        "description": "Welcome message for the agent.",
                        "example": "Hello, how can I help you today?"
                      }
                    }
                  },
                  "agent_prompts": {
                    "type": "object",
                    "description": "Prompts for the agent.",
                    "properties": {
                      "task_1": { "type": "object" }
                    }
                  },
                  "assistant_status": {
                    "type": "string",
                    "description": "Current status of the agent.",
                    "example": "updated"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "User ID.",
                    "example": "user_id_1234567890abcdef"
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "Agent ID.",
                    "example": "a3f8d4b2-7e19-4c3a-95de-1a6fcb9b4d70"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Creation date of the agent.",
                    "example": "2025-01-20T15:57:17.998000"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Last update date of the agent.",
                    "example": "2025-01-20T15:57:17.998000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the agent was updated successfully.",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "A message describing the result.",
                      "example": "Agent updated successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Unique identifier for the agent.",
                          "example": "agent_id_1234567890abcdef"
                        },
                        "agent_config": {
                          "type": "object",
                          "properties": {
                            "agent_name": {
                              "type": "string",
                              "description": "Human-readable agent name.",
                              "example": "New Agent updated"
                            },
                            "agent_type": {
                              "type": "string",
                              "description": "Type of agent.",
                              "example": "conversation"
                            },
                            "tasks": {
                              "type": "array",
                              "description": "List of tasks assigned to the agent.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tools_config": {
                                    "type": "object",
                                    "properties": {
                                      "llm_agent": {
                                        "type": "object",
                                        "properties": {
                                          "agent_flow_type": {
                                            "type": "string",
                                            "example": "streaming"
                                          },
                                          "agent_type": {
                                            "type": "string",
                                            "example": "simple_llm_agent"
                                          },
                                          "routes": {
                                            "nullable": true,
                                            "example": null
                                          },
                                          "llm_config": {
                                            "type": "object",
                                            "properties": {
                                              "model": {
                                                "type": "string",
                                                "example": "gpt-3.5-turbo"
                                              },
                                              "max_tokens": {
                                                "type": "integer",
                                                "example": 150
                                              },
                                              "family": {
                                                "type": "string",
                                                "example": "openai"
                                              },
                                              "temperature": {
                                                "type": "number",
                                                "example": 0.2
                                              },
                                              "request_json": {
                                                "type": "boolean",
                                                "example": false
                                              },
                                              "stop": {
                                                "nullable": true,
                                                "example": null
                                              },
                                              "top_k": {
                                                "type": "integer",
                                                "example": 0
                                              },
                                              "top_p": {
                                                "type": "number",
                                                "example": 0.9
                                              },
                                              "min_p": {
                                                "type": "number",
                                                "example": 0.1
                                              },
                                              "frequency_penalty": {
                                                "type": "number",
                                                "example": 0.0
                                              },
                                              "presence_penalty": {
                                                "type": "number",
                                                "example": 0.0
                                              },
                                              "provider": {
                                                "type": "string",
                                                "example": "openai"
                                              },
                                              "base_url": {
                                                "nullable": true,
                                                "example": null
                                              },
                                              "routes": {
                                                "nullable": true,
                                                "example": null
                                              },
                                              "agent_flow_type": {
                                                "type": "string",
                                                "example": "streaming"
                                              },
                                              "extraction_details": {
                                                "nullable": true,
                                                "example": null
                                              },
                                              "summarization_details": {
                                                "nullable": true,
                                                "example": null
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "synthesizer": {
                                        "type": "object",
                                        "properties": {
                                          "provider": {
                                            "type": "string",
                                            "example": "deepgram"
                                          },
                                          "provider_config": {
                                            "type": "object",
                                            "properties": {
                                              "voice": {
                                                "type": "string",
                                                "example": "Asteria"
                                              },
                                              "model": {
                                                "type": "string",
                                                "example": "aura-asteria-en"
                                              }
                                            }
                                          },
                                          "stream": {
                                            "type": "boolean",
                                            "example": true
                                          },
                                          "buffer_size": {
                                            "type": "integer",
                                            "example": 150
                                          },
                                          "audio_format": {
                                            "type": "string",
                                            "example": "wav"
                                          },
                                          "caching": {
                                            "type": "boolean",
                                            "example": true
                                          }
                                        }
                                      },
                                      "transcriber": {
                                        "type": "object",
                                        "properties": {
                                          "model": {
                                            "type": "string",
                                            "example": "nova-2"
                                          },
                                          "language": {
                                            "type": "string",
                                            "example": "en"
                                          },
                                          "stream": {
                                            "type": "boolean",
                                            "example": true
                                          },
                                          "sampling_rate": {
                                            "type": "integer",
                                            "example": 16000
                                          },
                                          "encoding": {
                                            "type": "string",
                                            "example": "linear16"
                                          },
                                          "endpointing": {
[...]
