{
  "openapi": "3.0.0",
  "info": {
    "title": "Voice-Agent",
    "version": "1.0.0",
    "description": "Voice-Agent API"
  },
  "servers": [
    {
      "url": "https://voice-agents.cloudmatetechnologies.com"
    }
  ],
  "paths": {
    "/api/v1/agent": {
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
          "required": true,
          "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
          },
          "example": "Bearer <token>"
        }
      ],
      "post": {
        "summary": "Create agent",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the agent was created successfully.",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "A message describing the result.",
                      "example": "Agent Created Successfully"
                    },
                    "data": {
                      "type": "object",
                      "description": "Agent details",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Unique identifier for the agent.",
                          "example": "682b28b95a99247b2f6ca004"
                        },
                        "agent_config": {
                          "type": "object",
                          "description": "Configuration details for the agent.",
                          "properties": {
                            "agent_name": {
                              "type": "string",
                              "description": "Human-readable agent name.",
                              "example": "New Agent"
                            },
                            "agent_type": {
                              "type": "string",
                              "description": "Type of agent.",
                              "example": "conversation"
                            },
                            "tasks": {
                              "type": "array",
                              "description": "List of tasks assigned to the agent.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "task_type": {
                                    "type": "string",
                                    "description": "Type of the task.",
                                    "example": "conversation"
                                  },
                                  "toolchain": {
                                    "type": "object",
                                    "description": "Toolchain configuration for the task.",
                                    "properties": {
                                      "execution": {
                                        "type": "string",
                                        "description": "Execution mode for the toolchain.",
                                        "example": "parallel"
                                      },
                                      "pipelines": {
                                        "type": "array",
                                        "description": "Pipelines for the toolchain.",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "example": ["transcriber", "llm", "synthesizer"]
                                        }
                                      }
                                    }
                                  },
                                  "tools_config": {
                                    "type": "object",
                                    "description": "Configuration for tools used in the task. (Omitted for brevity)"
                                  },
                                  "task_config": {
                                    "type": "object",
                                    "description": "Configuration for the task. (Omitted for brevity)"
                                  }
                                }
                              }
                            },
                            "agent_welcome_message": {
                              "type": "string",
                              "description": "Welcome message for the agent.",
                              "example": "Hello, This is survey call from bank of india"
                            }
                          }
                        },
                        "agent_prompts": {
                          "type": "object",
                          "description": "Prompts used by the agent.",
                          "properties": {
                            "task_1": {
                              "type": "object",
                              "properties": {
                                "system_prompt": {
                                  "type": "string",
                                  "description": "System prompt for the agent.",
                                  "example": "Your name is Lily Jay, a friendly survey agent at Bank of India. ..."
                                }
                              }
                            }
                          }
                        },
                        "assistant_status": {
                          "type": "string",
                          "description": "Current status of the agent.",
                          "example": "seeding"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "Organization ID.",
                          "example": "681ca52f14144e87791de891"
                        },
                        "agent_id": {
                          "type": "string",
                          "description": "Agent ID.",
                          "example": "e1c56ce5-0c0a-4f98-b06b-eebf3961e504"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Agent Created Successfully",
                  "data": {
                    "_id": "682b28b95a99247b2f6ca004",
                    "agent_config": {
                      "agent_name": "New Agent",
                      "agent_type": "conversation",
                      "tasks": [
                        {
                          "tools_config": {
                            "llm_agent": {
                              "agent_flow_type": "streaming",
                              "agent_type": "simple_llm_agent",
                              "routes": null,
                              "llm_config": {
                                "model": "gpt-3.5-turbo",
                                "max_tokens": 150,
                                "family": "openai",
                                "temperature": 0.2,
                                "request_json": false,
                                "stop": null,
                                "top_k": 0,
                                "top_p": 0.9,
                                "min_p": 0.1,
                                "frequency_penalty": 0.0,
                                "presence_penalty": 0.0,
                                "provider": "openai",
                                "base_url": null,
                                "routes": null,
                                "agent_flow_type": "streaming",
                                "extraction_details": null,
                                "summarization_details": null
                              }
                            },
                            "synthesizer": {
                              "provider": "deepgram",
                              "provider_config": {
                                "voice": "Asteria",
                                "model": "aura-asteria-en"
                              },
                              "stream": true,
                              "buffer_size": 150,
                              "audio_format": "wav",
                              "caching": true
                            },
                            "transcriber": {
                              "model": "nova-2",
                              "language": "en",
                              "stream": true,
                              "sampling_rate": 16000,
                              "encoding": "linear16",
                              "endpointing": 700,
                              "keywords": "",
                              "task": "transcribe",
                              "provider": "deepgram"
                            },
                            "input": {
                              "provider": "twilio",
                              "format": "wav"
                            },
                            "output": {
                              "provider": "twilio",
                              "format": "wav"
                            },
                            "api_tools": null
                          },
                          "toolchain": {
                            "execution": "parallel",
                            "pipelines": [
                              [
                                "transcriber",
                                "llm",
                                "synthesizer"
                              ]
                            ]
                          },
                          "task_type": "conversation",
                          "task_config": {
                            "voicemail": false,
                            "optimize_latency": true,
                            "hangup_after_silence": 10,
                            "incremental_delay": 1200,
                            "number_of_words_for_interruption": 2,
                            "interruption_backoff_period": 0,
                            "hangup_after_LLMCall": false,
                            "call_cancellation_prompt": "",
                            "call_hangup_message": "",
                            "backchanneling": false,
                            "backchanneling_message_gap": 5,
                            "backchanneling_start_delay": 5,
                            "ambient_noise": false,
                            "ambient_noise_track": "office-ambience",
                            "call_terminate": 300,
                            "use_fillers": false,
                            "trigger_user_online_message_after": 6,
                            "check_user_online_message": "Hey, are you still there",
                            "check_if_user_online": true,
                            "generate_precise_transcript": false
                          }
                        }
                      ],
                      "agent_welcome_message": "Hello, This is survey call from bank of india"
                    },
                    "agent_prompts": {
                      "task_1": {
                        "system_prompt": "Your name is Lily Jay, a friendly survey agent at Bank of India.\n\nYou will keep your sentences short, easy to follow, and always stay on topic. Never reply with more than 2 sentences. Your role is to gather feedback from customers who have used Business Loans, record their NPS score (0–10), and understand their experience.\n\nBe warm, empathetic, and professional throughout. Use conversational openers like 'Got it,' 'Hmm,' or 'Makes sense,' to keep the interaction natural and engaging. Avoid slang or repetitive filler words.\n\nGuidelines:\n\nIntroduce yourself and politely ask if they have used Business Loans and can participate in a quick survey.\nDo not repeat questions already asked.\nIf the customer is unfamiliar with Bank of India, respond:\n\"We provide business and personal loans and value customer feedback to improve our services.\"\n\nFeedback Questions:\n\nAsk for their overall satisfaction with Business Loans (NPS: 0–10).\nAsk what they liked most about the product and encourage specific details.\nAsk if the loan process (application, approval, or repayment) met their expectations.\nAsk how they found the interest rates and repayment terms.\nAsk if they faced any issues during the loan process or with customer service.\nInquire if they would recommend the Business Loan to others and why.\n\nDissatisfied Scenario:\n\nIf the customer rates below 5 or shares dissatisfaction:\n\"I'm really sorry to hear that. Could you tell me more about what went wrong so we can improve?\"\nEmpathize: \"I completely understand how frustrating that must have been.\"\nAssure: \"Your feedback is very important, and I'll make sure it reaches the right team to address this.\"\nIf the issue is about customer service: \"I apologize for the inconvenience you experienced. We're working to improve our service and ensure a better experience in the future.\"\n\nClosing:\n\nThank the customer sincerely for their input:\n\"Thank you so much for your time and feedback. It helps us improve and serve you better. Have a great day!\"\n\nTone:\nMaintain a warm, professional, and empathetic tone throughout. Ensure customers feel heard, valued, and appreciated during the conversation."
                      }
                    },
                    "assistant_status": "seeding",
                    "org_id": "681ca52f14144e87791de891",
                    "agent_id": "e1c56ce5-0c0a-4f98-b06b-eebf3961e504"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "loc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "type": "string"
                          },
                          "input": {
                            "nullable": true
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "body"
                      ],
                      "msg": "Field required",
                      "input": null,
                      "url": "https://errors.pydantic.dev/2.5/v/missing"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_prompts": {
                    "type": "object",
                    "properties": {
                      "task_1": {
                        "type": "object",
                        "properties": {
                          "system_prompt": {
                            "type": "string",
                            "format": "style"
                          }
                        }
                      }
                    }
                  },
                  "agent_config": {
                    "type": "object",
                    "properties": {
                      "agent_welcome_message": {
                        "type": "string"
                      },
                      "agent_name": {
                        "type": "string"
                      },
                      "agent_type": {
                        "type": "string"
                      },
                      "tasks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tools_config": {
                              "type": "object",
                              "properties": {
                                "output": {
                                  "type": "object",
                                  "properties": {
                                    "format": {
                                      "type": "string"
                                    },
                                    "provider": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "input": {
                                  "type": "object",
                                  "properties": {
                                    "format": {
                                      "type": "string"
                                    },
                                    "provider": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "synthesizer": {
                                  "type": "object",
                                  "properties": {
                                    "audio_format": {
                                      "type": "string"
                                    },
                                    "provider": {
                                      "type": "string"
                                    },
                                    "stream": {
                                      "type": "boolean"
                                    },
                                    "caching": {
                                      "type": "boolean"
                                    },
                                    "provider_config": {
                                      "type": "object",
                                      "properties": {
                                        "voice": {
                                          "type": "string"
                                        },
                                        "model": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "buffer_size": {
                                      "type": "integer"
                                    }
                                  }
                                },
                                "llm_agent": {
                                  "type": "object",
                                  "properties": {
                                    "agent_type": {
                                      "type": "string"
                                    },
                                    "agent_flow_type": {
                                      "type": "string"
                                    },
                                    "llm_config": {
                                      "type": "object",
                                      "properties": {
                                        "max_tokens": {
                                          "type": "integer"
                                        },
                                        "presence_penalty": {
                                          "type": "number"
                                        },
                                        "top_p": {
                                          "type": "number"
                                        },
                                        "request_json": {
                                          "type": "boolean"
                                        },
                                        "context_data": {
                                          "type": "object"
                                        },
                                        "min_p": {
                                          "type": "number"
                                        },
                                        "frequency_penalty": {
                                          "type": "number"
                                        },
                                        "provider": {
                                          "type": "string"
                                        },
                                        "top_k": {
                                          "type": "integer"
                                        },
                                        "temperature": {
                                          "type": "number"
                                        },
                                        "model": {
                                          "type": "string"
                                        },
                                        "family": {
                                          "type": "string"
                                        },
                                        "agent_information": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "transcriber": {
                                  "type": "object",
                                  "properties": {
                                    "sampling_rate": {
                                      "type": "integer"
                                    },
                                    "endpointing": {
                                      "type": "integer"
                                    },
                                    "task": {
                                      "type": "string"
                                    },
                                    "keywords": {
                                      "type": "string"
                                    },
                                    "stream": {
                                      "type": "boolean"
                                    },
                                    "provider": {
                                      "type": "string"
                                    },
                                    "model": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    },
                                    "encoding": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "api_tools": {
                                  "nullable": true
                                }
                              }
                            },
                            "task_config": {
                              "type": "object",
                              "properties": {
                                "backchanneling": {
                                  "type": "boolean"
                                },
                                "optimize_latency": {
                                  "type": "boolean"
                                },
                                "incremental_delay": {
                                  "type": "integer"
                                },
                                "ambient_noise_track": {
                                  "type": "string"
                                },
                                "trigger_user_online_message_after": {
                                  "type": "integer"
                                },
                                "check_if_user_online": {
                                  "type": "boolean"
                                },
                                "hangup_after_LLMCall": {
                                  "type": "boolean"
                                },
                                "call_terminate": {
                                  "type": "integer"
                                },
                                "hangup_after_silence": {
                                  "type": "integer"
                                },
                                "ambient_noise": {
                                  "type": "boolean"
                                },
                                "use_fillers": {
                                  "type": "boolean"
                                },
                                "interruption_backoff_period": {
                                  "type": "integer"
                                },
                                "backchanneling_start_delay": {
                                  "type": "integer"
                                },
                                "call_cancellation_prompt": {
                                  "type": "string"
                                },
                                "check_user_online_message": {
                                  "type": "string"
                                },
                                "number_of_words_for_interruption": {
                                  "type": "integer"
                                },
                                "backchanneling_message_gap": {
                                  "type": "integer"
                                },
                                "call_hangup_message": {
                                  "type": "string"
                                }
                              }
                            },
                            "task_type": {
                              "type": "string"
                            },
                            "toolchain": {
                              "type": "object",
                              "properties": {
                                "execution": {
                                  "type": "string"
                                },
                                "pipelines": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent/{newAgent_id}": {
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "description": "Bearer token for authentication",
          "schema": {
            "type": "string"
          },
          "example": "Bearer <token>"
        },
        {
          "name": "newAgent_id",
          "in": "path",
          "required": true,
          "description": "ID of the agent to retrieve",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get agent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Agent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the agent was retrieved successfully.",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "A message describing the result.",
                      "example": "Agent fetched successfully"
                    },
                    "data": {
                      "type": "object",
                      "description": "Agent details",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "Unique identifier for the agent.",
                          "example": "682b28b95a99247b2f6ca004"
                        },
                        "agent_config": {
                          "type": "object",
                          "description": "Configuration details for the agent.",
                          "properties": {
                            "agent_name": {
                              "type": "string",
                              "description": "Human-readable agent name.",
                              "example": "New Agent"
                            },
                            "agent_type": {
                              "type": "string",
                              "description": "Type of agent.",
                              "example": "conversation"
                            },
                            "tasks": {
                              "type": "array",
                              "description": "List of tasks assigned to the agent.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "task_type": {
                                    "type": "string",
                                    "description": "Type of the task.",
                                    "example": "conversation"
                                  },
                                  "toolchain": {
                                    "type": "object",
                                    "description": "Toolchain configuration for the task.",
                                    "properties": {
                                      "execution": {
                                        "type": "string",
                                        "description": "Execution mode for the toolchain.",
                                        "example": "parallel"
                                      },
                                      "pipelines": {
                                        "type": "array",
                                        "description": "Pipelines for the toolchain.",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "example": ["transcriber", "llm", "synthesizer"]
                                        }
                                      }
                                    }
                                  },
                                  "tools_config": {
                                    "type": "object",
                                    "description": "Configuration for tools used in the task. (Omitted for brevity)"
                                  },
                                  "task_config": {
                                    "type": "object",
                                    "description": "Configuration for the task. (Omitted for brevity)"
                                  }
                                }
                              }
                            },
                            "agent_welcome_message": {
                              "type": "string",
                              "description": "Welcome message for the agent.",
                              "example": "Hello, This is survey call from bank of india"
                            }
                          }
                        },
                        "agent_prompts": {
                          "type": "object",
                          "description": "Prompts used by the agent.",
                          "properties": {
                            "task_1": {
                              "type": "object",
                              "properties": {
                                "system_prompt": {
                                  "type": "string",
                                  "description": "System prompt for the agent.",
                                  "example": "Your name is Lily Jay, a friendly survey agent at Bank of India. ..."
                                }
                              }
                            }
                          }
                        },
                        "assistant_status": {
                          "type": "string",
                          "description": "Current status of the agent.",
                          "example": "seeding"
                        },
                        "org_id": {
                          "type": "string",
                          "description": "Organization ID.",
                          "example": "681ca52f14144e87791de891"
                        },
                       
                        "agent_id": {
                          "type": "string",
                          "description": "Agent ID.",
                          "example": "e1c56ce5-0c0a-4f98-b06b-eebf3961e504"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Method Not Allowed"
                    }
                  }
                },
                "example": {
                  "detail": "Method Not Allowed"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update agent",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_config": {
                    "type": "object",
                    "properties": {
                      "agent_name": {
                        "type": "string"
                      },
                      "agent_type": {
                        "type": "string"
                      },
                      "tasks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tools_config": {
                              "type": "object",
                              "properties": {
                                "llm_agent": {
                                  "type": "object",
                                  "properties": {
                                    "agent_flow_type": {
                                      "type": "string"
                                    },
                                    "agent_type": {
                                      "type": "string"
                                    },
                                    "routes": {
                                      "nullable": true
                                    },
                                    "llm_config": {
                                      "type": "object",
                                      "properties": {
                                        "model": {
                                          "type": "string"
                                        },
                                        "max_tokens": {
                                          "type": "integer"
                                        },
                                        "family": {
                                          "type": "string"
                                        },
                                        "temperature": {
                                          "type": "number"
                                        },
                                        "request_json": {
                                          "type": "boolean"
                                        },
                                        "stop": {
                                          "nullable": true
                                        },
                                        "top_k": {
                                          "type": "integer"
                                        },
                                        "top_p": {
                                          "type": "number"
                                        },
                                        "min_p": {
                                          "type": "number"
                                        },
                                        "frequency_penalty": {
                                          "type": "number"
                                        },
                                        "presence_penalty": {
                                          "type": "number"
                                        },
                                        "provider": {
                                          "type": "string"
                                        },
                                        "base_url": {
                                          "nullable": true
                                        },
                                        "routes": {
                                          "nullable": true
                                        },
                                        "agent_flow_type": {
                                          "type": "string"
                                        },
                                        "extraction_details": {
                                          "nullable": true
                                        },
                                        "summarization_details": {
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                },
                                "synthesizer": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string"
                                    },
                                    "provider_config": {
                                      "type": "object",
                                      "properties": {
                                        "voice": {
                                          "type": "string"
                                        },
                                        "model": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "stream": {
                                      "type": "boolean"
                                    },
                                    "buffer_size": {
                                      "type": "integer"
                                    },
                                    "audio_format": {
                                      "type": "string"
                                    },
                                    "caching": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "transcriber": {
                                  "type": "object",
                                  "properties": {
                                    "model": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    },
                                    "stream": {
                                      "type": "boolean"
                                    },
                                    "sampling_rate": {
                                      "type": "integer"
                                    },
                                    "encoding": {
                                      "type": "string"
                                    },
                                    "endpointing": {
                                      "type": "integer"
                                    },
                                    "keywords": {
                                      "type": "string"
                                    },
                                    "task": {
                                      "type": "string"
                                    },
                                    "provider": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "input": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string"
                                    },
                                    "format": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "output": {
                                  "type": "object",
                                  "properties": {
                                    "provider": {
                                      "type": "string"
                                    },
                                    "format": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "api_tools": {
                                  "type": "object",
                                  "properties": {
                                    "tools": {
                                      "type": "array",
                                      "items": {}
                                    },
                                    "tools_params": {
                                      "type": "object"
                                    }
                                  }
                                }
                              }
                            },
                            "toolchain": {
                              "type": "object",
                              "properties": {
                                "execution": {
                                  "type": "string"
                                },
                                "pipelines": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "task_type": {
                              "type": "string"
                            },
                            "task_config": {
                              "type": "object",
                              "properties": {
                                "voicemail": {
                                  "type": "boolean"
                                },
                                "optimize_latency": {
                                  "type": "boolean"
                                },
                                "hangup_after_silence": {
                                  "type": "integer"
                                },
                                "incremental_delay": {
                                  "type": "integer"
                                },
                                "number_of_words_for_interruption": {
                                  "type": "integer"
                                },
                                "interruption_backoff_period": {
                                  "type": "integer"
                                },
                                "hangup_after_LLMCall": {
                                  "type": "boolean"
                                },
                                "call_cancellation_prompt": {
                                  "type": "string"
                                },
                                "call_hangup_message": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "backchanneling": {
                                  "type": "boolean"
                                },
                                "backchanneling_message_gap": {
                                  "type": "integer"
                                },
                                "backchanneling_start_delay": {
                                  "type": "integer"
                                },
                                "ambient_noise": {
                                  "type": "boolean"
                                },
                                "ambient_noise_track": {
                                  "type": "string"
                                },
                                "call_terminate": {
                                  "type": "integer"
                                },
                                "use_fillers": {
                                  "type": "boolean"
                                },
                                "trigger_user_online_message_after": {
                                  "type": "integer"
                                },
                                "check_user_online_message": {
                                  "type": "string"
                                },
                                "check_if_user_online": {
                                  "type": "boolean"
                                },
                                "generate_precise_transcript": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      },
                      "agent_welcome_message": {
                        "type": "string"
                      }
                    }
                  },
                  "agent_prompts": {
                    "type": "object",
                    "properties": {
                      "task_1": {
                        "type": "object",
                        "properties": {
                          "system_prompt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "agent_config": {
                  "agent_name": "New Agent updated",
                  "agent_type": "conversation",
                  "tasks": [
                    {
                      "tools_config": {
                        "llm_agent": {
                          "agent_flow_type": "streaming",
                          "agent_type": "simple_llm_agent",
                          "routes": null,
                          "llm_config": {
                            "model": "gpt-3.5-turbo",
                            "max_tokens": 150,
                            "family": "openai",
                            "temperature": 0.2,
                            "request_json": false,
                            "stop": null,
                            "top_k": 0,
                            "top_p": 0.9,
                            "min_p": 0.1,
                            "frequency_penalty": 0.0,
                            "presence_penalty": 0.0,
                            "provider": "openai",
                            "base_url": null,
                            "routes": null,
                            "agent_flow_type": "streaming",
                            "extraction_details": null,
                            "summarization_details": null
                          }
                        },
                        "synthesizer": {
                          "provider": "deepgram",
                          "provider_config": {
                            "voice": "Asteria",
                            "model": "aura-asteria-en"
                          },
                          "stream": true,
                          "buffer_size": 150,
                          "audio_format": "wav",
                          "caching": true
                        },
                        "transcriber": {
                          "model": "nova-2",
                          "language": "en",
                          "stream": true,
                          "sampling_rate": 16000,
                          "encoding": "linear16",
                          "endpointing": 700,
                          "keywords": "",
                          "task": "transcribe",
                          "provider": "deepgram"
                        },
                        "input": {
                          "provider": "twilio",
                          "format": "wav"
                        },
                        "output": {
                          "provider": "twilio",
                          "format": "wav"
                        },
                        "api_tools": {
                          "tools": [],
                          "tools_params": {}
                        }
                      },
                      "toolchain": {
                        "execution": "parallel",
                        "pipelines": [
                          [
                            "transcriber",
                            "llm",
                            "synthesizer"
                          ]
                        ]
                      },
                      "task_type": "conversation",
                      "task_config": {
                        "voicemail": false,
                        "optimize_latency": true,
                        "hangup_after_silence": 10,
                        "incremental_delay": 1200,
                        "number_of_words_for_interruption": 2,
                        "interruption_backoff_period": 0,
                        "hangup_after_LLMCall": false,
                        "call_cancellation_prompt": "",
                        "call_hangup_message": null,
                        "backchanneling": false,
                        "backchanneling_message_gap": 5,
                        "backchanneling_start_delay": 5,
                        "ambient_noise": false,
                        "ambient_noise_track": "office-ambience",
                        "call_terminate": 300,
                        "use_fillers": false,
                        "trigger_user_online_message_after": 6,
                        "check_user_online_message": "Hey, are you still there",
                        "check_if_user_online": true,
                        "generate_precise_transcript": false
                      }
                    }
                  ],
                  "agent_welcome_message": "Hello, how can I help you today?"
                },
                "agent_prompts": {
                  "task_1": {
                    "system_prompt": "You are a helpful assistant."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "agent_config": {
                          "type": "object",
                          "properties": {
                            "agent_name": {
                              "type": "string"
                            },
                            "agent_type": {
                              "type": "string"
                            },
                            "tasks": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tools_config": {
                                    "type": "object",
                                    "properties": {
                                      "llm_agent": {
                                        "type": "object",
                                        "properties": {
                                          "agent_flow_type": {
                                            "type": "string"
                                          },
                                          "agent_type": {
                                            "type": "string"
                                          },
                                          "routes": {
                                            "nullable": true
                                          },
                                          "llm_config": {
                                            "type": "object",
                                            "properties": {
                                              "model": {
                                                "type": "string"
                                              },
                                              "max_tokens": {
                                                "type": "integer"
                                              },
                                              "family": {
                                                "type": "string"
                                              },
                                              "temperature": {
                                                "type": "number"
                                              },
                                              "request_json": {
                                                "type": "boolean"
                                              },
                                              "stop": {
                                                "nullable": true
                                              },
                                              "top_k": {
                                                "type": "integer"
                                              },
                                              "top_p": {
                                                "type": "number"
                                              },
                                              "min_p": {
                                                "type": "number"
                                              },
                                              "frequency_penalty": {
                                                "type": "number"
                                              },
                                              "presence_penalty": {
                                                "type": "number"
                                              },
                                              "provider": {
                                                "type": "string"
                                              },
                                              "base_url": {
                                                "nullable": true
                                              },
                                              "routes": {
                                                "nullable": true
                                              },
                                              "agent_flow_type": {
                                                "type": "string"
                                              },
                                              "extraction_details": {
                                                "nullable": true
                                              },
                                              "summarization_details": {
                                                "nullable": true
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "synthesizer": {
                                        "type": "object",
                                        "properties": {
                                          "provider": {
                                            "type": "string"
                                          },
                                          "provider_config": {
                                            "type": "object",
                                            "properties": {
                                              "voice": {
                                                "type": "string"
                                              },
                                              "model": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "stream": {
                                            "type": "boolean"
                                          },
                                          "buffer_size": {
                                            "type": "integer"
                                          },
                                          "audio_format": {
                                            "type": "string"
                                          },
                                          "caching": {
                                            "type": "boolean"
                                          }
                                        }
                                      },
                                      "transcriber": {
                                        "type": "object",
                                        "properties": {
                                          "model": {
                                            "type": "string"
                                          },
                                          "language": {
                                            "type": "string"
                                          },
                                          "stream": {
                                            "type": "boolean"
                                          },
                                          "sampling_rate": {
                                            "type": "integer"
                                          },
                                          "encoding": {
                                            "type": "string"
                                          },
                                          "endpointing": {
                                            "type": "integer"
                                          },
                                          "keywords": {
                                            "type": "string"
                                          },
                                          "task": {
                                            "type": "string"
                                          },
                                          "provider": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "input": {
                                        "type": "object",
                                        "properties": {
                                          "provider": {
                                            "type": "string"
                                          },
                                          "format": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "output": {
                                        "type": "object",
                                        "properties": {
                                          "provider": {
                                            "type": "string"
                                          },
                                          "format": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "api_tools": {
                                        "type": "object",
                                        "properties": {
                                          "tools": {
                                            "type": "array",
                                            "items": {}
                                          },
                                          "tools_params": {
                                            "type": "object"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "task_config": {
                                    "type": "object",
                                    "properties": {
                                      "voicemail": {
                                        "type": "boolean"
                                      },
                                      "optimize_latency": {
                                        "type": "boolean"
                                      },
                                      "hangup_after_silence": {
                                        "type": "integer"
                                      },
                                      "incremental_delay": {
                                        "type": "integer"
                                      },
                                      "number_of_words_for_interruption": {
                                        "type": "integer"
                                      },
                                      "interruption_backoff_period": {
                                        "type": "integer"
                                      },
                                      "hangup_after_LLMCall": {
                                        "type": "boolean"
                                      },
                                      "call_cancellation_prompt": {
                                        "type": "string"
                                      },
                                      "call_hangup_message": {
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "backchanneling": {
                                        "type": "boolean"
                                      },
                                      "backchanneling_message_gap": {
                                        "type": "integer"
                                      },
                                      "backchanneling_start_delay": {
                                        "type": "integer"
                                      },
                                      "ambient_noise": {
                                        "type": "boolean"
                                      },
                                      "ambient_noise_track": {
                                        "type": "string"
                                      },
                                      "call_terminate": {
                                        "type": "integer"
                                      },
                                      "use_fillers": {
                                        "type": "boolean"
                                      },
                                      "trigger_user_online_message_after": {
                                        "type": "integer"
                                      },
                                      "check_user_online_message": {
                                        "type": "string"
                                      },
                                      "check_if_user_online": {
                                        "type": "boolean"
                                      },
                                      "generate_precise_transcript": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "agent_welcome_message": {
                              "type": "string"
                            }
                          }
                        },
                        "agent_prompts": {
                          "type": "object",
                          "properties": {
                            "task_1": {
                              "type": "object",
                              "properties": {
                                "system_prompt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "assistant_status": {
                          "type": "string"
                        },
                        "org_id": {
                          "type": "string"
                        },
                        "agent_id": {
                          "type": "string"
                        },
                        "webhook_url": {
                          "nullable": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Agent updated successfully",
                  "data": {
                    "_id": "682b28b95a99247b2f6ca004",
                    "agent_config": {
                      "agent_name": "New Agent updated",
                      "agent_type": "conversation",
                      "tasks": [
                        {
                          "tools_config": {
                            "llm_agent": {
                              "agent_flow_type": "streaming",
                              "agent_type": "simple_llm_agent",
                              "routes": null,
                              "llm_config": {
                                "model": "gpt-3.5-turbo",
                                "max_tokens": 150,
                                "family": "openai",
                                "temperature": 0.2,
                                "request_json": false,
                                "stop": null,
                                "top_k": 0,
                                "top_p": 0.9,
                                "min_p": 0.1,
                                "frequency_penalty": 0.0,
                                "presence_penalty": 0.0,
                                "provider": "openai",
                                "base_url": null,
                                "routes": null,
                                "agent_flow_type": "streaming",
                                "extraction_details": null,
                                "summarization_details": null
                              }
                            },
                            "synthesizer": {
                              "provider": "deepgram",
                              "provider_config": {
                                "voice": "Asteria",
                                "model": "aura-asteria-en"
                              },
                              "stream": true,
                              "buffer_size": 150,
                              "audio_format": "wav",
                              "caching": true
                            },
                            "transcriber": {
                              "model": "nova-2",
                              "language": "en",
                              "stream": true,
                              "sampling_rate": 16000,
                              "encoding": "linear16",
                              "endpointing": 700,
                              "keywords": "",
                              "task": "transcribe",
                              "provider": "deepgram"
                            },
                            "input": {
                              "provider": "twilio",
                              "format": "wav"
                            },
                            "output": {
                              "provider": "twilio",
                              "format": "wav"
                            },
                            "api_tools": {
                              "tools": [],
                              "tools_params": {}
                            }
                          },
                          "toolchain": {
                            "execution": "parallel",
                            "pipelines": [
                              [
                                "transcriber",
                                "llm",
                                "synthesizer"
                              ]
                            ]
                          },
                          "task_type": "conversation",
                          "task_config": {
                            "voicemail": false,
                            "optimize_latency": true,
                            "hangup_after_silence": 10,
                            "incremental_delay": 1200,
                            "number_of_words_for_interruption": 2,
                            "interruption_backoff_period": 0,
                            "hangup_after_LLMCall": false,
                            "call_cancellation_prompt": "",
                            "call_hangup_message": null,
                            "backchanneling": false,
                            "backchanneling_message_gap": 5,
                            "backchanneling_start_delay": 5,
                            "ambient_noise": false,
                            "ambient_noise_track": "office-ambience",
                            "call_terminate": 300,
                            "use_fillers": false,
                            "trigger_user_online_message_after": 6,
                            "check_user_online_message": "Hey, are you still there",
                            "check_if_user_online": true,
                            "generate_precise_transcript": false
                          }
                        }
                      ],
                      "agent_welcome_message": "Hello, how can I help you today?"
                    },
                    "agent_prompts": {
                      "task_1": {
                        "system_prompt": "You are a helpful assistant."
                      }
                    },
                    "assistant_status": "updated",
                    "org_id": "681ca52f14144e87791de891",
                    "agent_id": "e1c56ce5-0c0a-4f98-b06b-eebf3961e504",
                    "webhook_url": null
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "loc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "type": "string"
                          },
                          "input": {
                            "nullable": true
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "body"
                      ],
                      "msg": "Field required",
                      "input": null,
                      "url": "https://errors.pydantic.dev/2.5/v/missing"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete agent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Agent deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "nullable": true,
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Method Not Allowed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent/all": {
      "parameters": [
        {
          "name": "Authorization",
          "in": "header",
          "required": true,
          "description": "Bearer token for authentication",
          "schema": {
            "type": "string"
          },
          "example": "Bearer <token>"
        },
        {
          "name": "skip",
          "in": "query",
          "required": false,
          "example": "2",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "List agents",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "example": "2",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "agent_config": {
                                "type": "object",
                                "properties": {
                                  "agent_name": {
                                    "type": "string"
                                  },
                                  "agent_type": {
                                    "type": "string"
                                  },
                                  "tasks": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "tools_config": {
                                          "type": "object",
                                          "properties": {
                                            "llm_agent": {
                                              "type": "object",
                                              "properties": {
                                                "agent_flow_type": {
                                                  "type": "string"
                                                },
                                                "agent_type": {
                                                  "type": "string"
                                                },
                                                "routes": {
                                                  "nullable": true
                                                },
                                                "llm_config": {
                                                  "type": "object",
                                                  "properties": {
                                                    "model": {
                                                      "type": "string"
                                                    },
                                                    "max_tokens": {
                                                      "type": "integer"
                                                    },
                                                    "family": {
                                                      "type": "string"
                                                    },
                                                    "temperature": {
                                                      "type": "number"
                                                    },
                                                    "request_json": {
                                                      "type": "boolean"
                                                    },
                                                    "stop": {
                                                      "nullable": true
                                                    },
                                                    "top_k": {
                                                      "type": "integer"
                                                    },
                                                    "top_p": {
                                                      "type": "number"
                                                    },
                                                    "min_p": {
                                                      "type": "number"
                                                    },
                                                    "frequency_penalty": {
                                                      "type": "number"
                                                    },
                                                    "presence_penalty": {
                                                      "type": "number"
                                                    },
                                                    "provider": {
                                                      "type": "string"
                                                    },
                                                    "base_url": {
                                                      "nullable": true
                                                    },
                                                    "routes": {
                                                      "nullable": true
                                                    },
                                                    "agent_flow_type": {
                                                      "type": "string"
                                                    },
                                                    "extraction_details": {
                                                      "nullable": true
                                                    },
                                                    "summarization_details": {
                                                      "nullable": true
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "synthesizer": {
                                              "type": "object",
                                              "properties": {
                                                "provider": {
                                                  "type": "string"
                                                },
                                                "provider_config": {
                                                  "type": "object",
                                                  "properties": {
                                                    "voice": {
                                                      "type": "string"
                                                    },
                                                    "model": {
                                                      "type": "string"
                                                    }
                                                  }
                                                },
                                                "stream": {
                                                  "type": "boolean"
                                                },
                                                "buffer_size": {
                                                  "type": "integer"
                                                },
                                                "audio_format": {
                                                  "type": "string"
                                                },
                                                "caching": {
                                                  "type": "boolean"
                                                }
                                              }
                                            },
                                            "transcriber": {
                                              "type": "object",
                                              "properties": {
                                                "model": {
                                                  "type": "string"
                                                },
                                                "language": {
                                                  "type": "string"
                                                },
                                                "stream": {
                                                  "type": "boolean"
                                                },
                                                "sampling_rate": {
                                                  "type": "integer"
                                                },
                                                "encoding": {
                                                  "type": "string"
                                                },
                                                "endpointing": {
                                                  "type": "integer"
                                                },
                                                "keywords": {
                                                  "type": "string"
                                                },
                                                "task": {
                                                  "type": "string"
                                                },
                                                "provider": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "input": {
                                              "type": "object",
                                              "properties": {
                                                "provider": {
                                                  "type": "string"
                                                },
                                                "format": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "output": {
                                              "type": "object",
                                              "properties": {
                                                "provider": {
                                                  "type": "string"
                                                },
                                                "format": {
                                                  "type": "string"
                                                }
                                              }
                                            },
                                            "api_tools": {
                                              "nullable": true
                                            }
                                          }
                                        },
                                        "toolchain": {
                                          "type": "object",
                                          "properties": {
                                            "execution": {
                                              "type": "string"
                                            },
                                            "pipelines": {
                                              "type": "array",
                                              "items": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "task_type": {
                                          "type": "string"
                                        },
                                        "task_config": {
                                          "type": "object",
                                          "properties": {
                                            "voicemail": {
                                              "type": "boolean"
                                            },
                                            "optimize_latency": {
                                              "type": "boolean"
                                            },
                                            "hangup_after_silence": {
                                              "type": "integer"
                                            },
                                            "incremental_delay": {
                                              "type": "integer"
                                            },
                                            "number_of_words_for_interruption": {
                                              "type": "integer"
                                            },
                                            "interruption_backoff_period": {
                                              "type": "integer"
                                            },
                                            "hangup_after_LLMCall": {
                                              "type": "boolean"
                                            },
                                            "call_cancellation_prompt": {
                                              "type": "string"
                                            },
                                            "call_hangup_message": {
                                              "type": "string"
                                            },
                                            "backchanneling": {
                                              "type": "boolean"
                                            },
                                            "backchanneling_message_gap": {
                                              "type": "integer"
                                            },
                                            "backchanneling_start_delay": {
                                              "type": "integer"
                                            },
                                            "ambient_noise": {
                                              "type": "boolean"
                                            },
                                            "ambient_noise_track": {
                                              "type": "string"
                                            },
                                            "call_terminate": {
                                              "type": "integer"
                                            },
                                            "use_fillers": {
                                              "type": "boolean"
                                            },
                                            "trigger_user_online_message_after": {
                                              "type": "integer"
                                            },
                                            "check_user_online_message": {
                                              "type": "string"
                                            },
                                            "check_if_user_online": {
                                              "type": "boolean"
                                            },
                                            "generate_precise_transcript": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "agent_welcome_message": {
                                    "type": "string"
                                  }
                                }
                              },
                              "agent_prompts": {
                                "type": "object",
                                "properties": {
                                  "task_1": {
                                    "type": "object",
                                    "properties": {
                                      "system_prompt": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "assistant_status": {
                                "type": "string"
                              },
                              "org_id": {
                                "type": "string"
                              },
                              "agent_id": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "skip": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            },
                            "count": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/api/v1/call?user_id={user_id}&org_id={org_id}": {
      "parameters": [],
      "post": {
        "summary": "Initiate Call",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
            },
            "example": "Bearer <token>"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "example": "{{user_id}}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "required": false,
            "example": "{{org_id}}",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the call was initiated successfully.",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "description": "A message describing the result.",
                      "example": "Call initiated successfully"
                    },
[...]
